
{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{else}}
    
            <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="d-flex flex-column text-center"> 
                                        <h1 class="mt-5 text-center">Resultado de la Búsqueda</h1>
                                        <p><strong>Código del Paradero:</strong> {{codigoParadero}}</p>
                                        <p class=""><strong>Hora:</strong> {{hora}}</p>
                                        <div class="w-75 h-75" id="map"></div>
                                     </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- END Contenido dinámico -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const lat = {{latitud}};
        const lon = {{longitud}};
        const zoomLevel = 16;

        const map = L.map('map', {
            center: [lat, lon],
            zoom: zoomLevel,
            minZoom: 12,
            maxBounds: L.latLngBounds(
                L.latLng(-33.0, -71.0),
                L.latLng(-33.7, -70.3)
            )
        });

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        function getColorByPercentage(percentage) {
            var red = 255 * (100 - percentage) / 100;
            var blue = 255 * percentage / 100;
            return `rgb(${red}, 0, ${blue})`;
        }

        function calculateRadius(percentage) {
            var mapContainer = document.getElementById('map');
            var width = mapContainer.clientWidth;
            var height = mapContainer.clientHeight;
            var minDimension = Math.min(width, height);
            return (percentage / 100) * minDimension;
        }

        var percentage = {{densidad}};
        var radiusInPixels = calculateRadius(percentage);
        var radiusInMeters = map.containerPointToLatLng([0, 0]).distanceTo(map.containerPointToLatLng([radiusInPixels, 0]));
        var color = getColorByPercentage(percentage);

        var circle = L.circle([{{latitud}}, {{longitud}}], {
            color: color,
            fillColor: color,
            fillOpacity: 0.5,
            radius: {{densidad}}
        }).addTo(map);

        L.marker([lat, lon]).addTo(map).bindPopup(`<b>Paradero {{codigoParadero}}</br>{{latitud}}, {{longitud}}</br> Densidad: {{densidad}}</b>`).openPopup();
    </script>
{{/if}}
